:root {
    --orange: #fef9c3;
}

body {
    background-color: var(--orange);
}

table {
    border: 1px solid black;
    width: 50svw;
}

tr, th {
    text-align: center; 
    vertical-align: middle;
}

tr {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
}

form {
    display: inline-grid;
    grid-template-columns: repeat(3, 3fr)  2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

form h4 {
    margin: 0px;
}

input[type='radio'] {
    padding: 0px;
}

.error {
    border: 2px solid red;
}